{% extends "base_generic.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Schedule List
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script>
        {% block scripts %}
            function deleteSchedule(scheduleId) {
                if (confirm("Are you sure you want to delete this schedule?")) {
                    const deleteUrl = "{% url 'delete_maintenance_schedule' 0 %}".replace("0", scheduleId);
                    fetch(deleteUrl, {
                        method: "POST",
                        headers: {
                            'X-CSRFToken': "{{ csrf_token }}", // Pass the CSRF token
                            'Content-Type': 'application/json',
                        },
                    }).then(response => {
                        if (response.ok) {
                            window.location.reload(); // Reload the page after successful deletion
                        } else {
                            alert('Error occurred while deleting schedule.');
                        }
                    });
                }
            }
        {% endblock %}
    </script>
</head>
<body>

{% block content %}
    <h2>Maintenance Schedules</h2>

    <div class="add-bar">
        <div>
            <a href="{% url 'create_maintenance_schedule' %}?{% if request.GET.vehicle_id %}vehicle_id={{ request.GET.vehicle_id }}{% endif %}"
               class="create-schedule">Create
                New Schedule</a>
        </div>
        <div class="filter-bar">
            <h3>Filter By:</h3>
            <a href="{% url 'list_maintenance_schedule' %}?{% if request.GET.vehicle_id %}&vehicle_id={{ request.GET.vehicle_id }}{% endif %}&status=completed"
               class="no-style" title="Completed">
                <i class="fas fa-check-circle" style="font-size: 24px; color: green;"></i>
            </a>
            <a href="{% url 'list_maintenance_schedule' %}?{% if request.GET.vehicle_id %}vehicle_id={{ request.GET.vehicle_id }}{% endif %}&status=not_completed"
               class="no-style" title="Not Completed">
                <i class="fas fa-times-circle" style="font-size: 24px; color: red;"></i>
            </a>
            <a href="



                    {% url 'list_maintenance_schedule' %}{% if request.GET.vehicle_id %}?vehicle_id={{ request.GET.vehicle_id }}{% endif %}"
               class="no-style" title="All">
                <i class="fas fa-list" style="font-size: 24px;"></i>
            </a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Status</th>
            <th>Vehicle</th>
            <th>Task</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td width="2%" style="text-align: center">
                    {% if schedule.completed %}
                        <i class="fas fa-check-circle" style="color: green; font-size: 24px;" title="Completed"></i>
                    {% else %}
                        <i class="fas fa-times-circle" style="color: red; font-size: 24px;" title="Not Completed"></i>
                    {% endif %}
                </td>
                <td>{{ schedule.vehicle.vehicle_name }}</td>
                <td>{{ schedule.task_name }}</td>
                <td>{{ schedule.due_date }}</td>
                <td>
                    <a href="{% url 'list_activities' schedule.id %}">Activities</a>

                    <a href="{% url 'update_maintenance_schedule' schedule.id %}" class="edit-btn">
                        <i class="fas fa-edit"></i> Edit</a>
                    <a href="javascript:void(0);" class="delete-btn" onclick="deleteSchedule({{ schedule.id }})">
                        <i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No maintenance schedules available.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <a href="{% url 'home' %}" class="a-button">Back to Vehicles</a>
    </div>
{% endblock %}

</body>
</html>
